<div>
  <!-- As a heading -->
  <nav class="navbar justify-content-center">
    <span class="navbar-brand mb-0 h1"><h2>Cleanr Dashboard</h2></span>
  </nav>

  <div class="row justify-content-center">
    <div class="box-container">
      <div class="row">
        <h2>
          Washroom Data
        </h2>
        <button class="btn btn-primary ml-5" (click)="turnOnSprayer()">
          <h5>
            Turn on sprayer
          </h5>
        </button>
      </div>
      <p>(Being pulled from Google Sheets)</p>

      <div class="scrollable">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Timestamp</th>
              <th>Water tap status</th>
              <th>Occupancy Sensor</th>
              <th>Vacancy</th>
            </tr>
            <tr *ngFor="let data of tableData; let i = index">
              <td *ngFor="let cell of data">
                {{ cell }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <div class="box-container">
        <h3># of people who washed their hands</h3>
        <h3 *ngIf="tableData">{{ waterTapAmount }}</h3>
      </div>
      <div class="box-container">
        <h3>
          # of people who entered Washroom
        </h3>

        <h3 *ngIf="proximityAmount">{{ proximityAmount }}</h3>
      </div>
      <div class="box-container">
        <h3>
          Handwashing Rate
          <h3 *ngIf="proximityAmount">
            {{ ((waterTapAmount / proximityAmount) * 100).toFixed(3) }}%
          </h3>
        </h3>
      </div>
      <div class="box-container">
        <h3>Vacancy Status</h3>
        <h3
          *ngIf="tableData"
          [ngStyle]="{
            color: tableData[0][3] === 'occupied' ? '#00CC00' : '#F7241D'
          }"
        >
          {{ tableData[0][3] }}
        </h3>
      </div>
    </div>
  </div>
</div>
